# Dependencies
node_modules/
pnp.js
.pnp.js
.pnp.cjs

# Testing
coverage/

# Production Build
dist/
build/
.next/
out/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vercel / Next.js
.vercel
